[Desktop Entry]
Name=produits
Type=Application
Exec=/home/coquelicoop/balance/produits-linux-x64/produits
Terminal=false
Icon=/home/coquelicoop/balance/produits-linux-x64/tomate.png
NoDisplay=false
Categories=Utility;
